# ======================
# Python / Conda
# ======================
__pycache__/
*.pyc
*.pyo
*.pyd
.env/
.conda/

# ======================
# VS Code
# ======================
.vscode/

# ======================
# Data files (DO NOT COMMIT)
# ======================
dataset/
*.mat
*.dat
*.hea
*.wav

# ======================
# OS files
# ======================
.DS_Store
Thumbs.db

# ======================
# Trained Models
# ======================
trained_models/
*.pth
